//
// Font
// --------------------------------------------------

// Paragraphs
// --------------------------------------------------
p {
  &.small {
    font-size: 13px;
    line-height: 150%;
  }
  &.extrasmall {
    font-size: 12px;
    line-height: 120%;
  }
  &.large {
    font-size: 16px;
    line-height: 150%;
  }
}

// FontAwesome
// --------------------------------------------------
.fa {
  p & {
    font-size: 2.0em;
    margin-right: 5px;
    width: 25px;
    vertical-align: middle;
  }
}
