//
// SASS Mixins
// --------------------------------------------------

// Sections
// --------------------------------------------------
@mixin section($background-color: $body-bg, $color: $text-color) {
  background-color: $background-color;
  color: $color;
  padding-top: 60px;
  padding-bottom: 60px;
}
