//
// Styles for main layout
// --------------------------------------------------
body {
  #top {
    background-color: green;
    color: white;
  }
  #header {
    background-color: $brand-primary;
    color: white;
    margin-top: 0;
    .panel-panel-inner {
      padding: 25px 0;
    }
    .column-1 {
      background-color: red;
    }
    .column-2 {
      background-color: yellow;
    }
    .column-3 {
      background-color: pink;
    }
  }
}
