//
// Styles for Nodes
// --------------------------------------------------

// General
// --------------------------------------------------
.node-featured .pane-node-title .pane-content a {
  font-size: inherit;
}

// Blog
// --------------------------------------------------
.node-type-blog-post {
  .panel-pane-region {
    .panel-pane {
      margin-bottom: 18px;
    }
  }
}
.field-name-field-blog-post-tags {
  .field-items {
    .field-item {
      display: inline-block;
      margin: 0 0 0 8px;
      a {
        @extend .label;
        @extend .label-default;
      }
    }
  }
}