//
// Styles for panels and panes.
// --------------------------------------------------

// Contact info
// --------------------------------------------------
.pane-contact-info {

}

// Logo and Site name
// --------------------------------------------------
.pane-logo-site-name {
  text-align: center;
  a {
    display: block;
  }
  .logo {
    width: 80px;
    height: auto;
    margin: 0 auto 20px;
  }
  .brand {
    font-size: 2.0em;
    margin: 0 auto;
  }
}
