//
// Styles for Tabs, Messages, ..etc
// --------------------------------------------------

// Navbar
// --------------------------------------------------
.navbar {
  margin-bottom: 0;
}
.fixed .navbar {
  margin-bottom: 20px;
}

// Tabs
// --------------------------------------------------
.pane-page-tabs {
  margin-bottom: 18px;
}

// Messages
// --------------------------------------------------
.pane-page-messages {
  margin-bottom: 18px;
}